.with-a-link{
    color: orange;
}
.links{
    color: orange;
}
#link{
    color: brown;
    background-color: yellow;
}
.click{
    color: red;
}
.another{
    color: red;
}
.no-bullet{
    list-style-type: none;
}
.color{
    color: red;
}
